{% extends 'bucketapp/base.html' %} {% block content %}
<div class='container-fluid mt-3'>

  <div class="d-flex">
    <span class='h1 me-3'>Your Buckets</span>
    <a href="{% url 'bucket-create' %}" class="fs-1 text-decoration-none text-warning">
      <i class="fa-solid fa-circle-plus"></i>
    </a>
  </div>

  
  <div class="row g-2 mt-2">
    {% for bucket in buckets %}
      <div class="col flex-grow-0">
        <div class="card" style="width: 340px; height: 260px;">
  
          <div class="card-header">
            <a class="text-decoration-none" href="{% url 'bucket-detail' bucket.id %}">
              <h2 class="card-title text-warning-emphasis">{{ bucket.title }}</h2>
            </a>
          </div>
          
          <div class="card-body">
            <p class="card-text">{{ bucket.description }}</p>
          </div>
          
          <div class="card-footer text-body-secondary d-flex justify-content-around"> 
            <span class="text-body-secondary fs-6">Completed tasks: </span>
              <span class="badge 
                {% if bucket.all_tasks_completed %}
                  bg-secondary
                {% else %}
                  bg-success
                {% endif %}
              rounded-pill fs-6">
                  {{ bucket.tasks_completed_count }}/{{ bucket.tasks.count }}
              </span>
          </div>
      </div>
    </div>
    {% empty %}
    <span>No buckets yet.</span>
    {% endfor %}
  </div>

</div>
{% endblock content %}
