{% extends 'bucketapp/base.html' %} {% block content %}
<div class='container mt-3'>

  <div class="d-flex w-75">
    <h1>Your Buckets</h1>
    <a href="{% url 'bucket-create' %}" class="fs-1 text-decoration-none">
      <i class="fa-solid fa-circle-plus"></i>
    </a>
  </div>

  
  <div class="row g-4">
    {% for bucket in buckets %}
      <div class="col">
        <div class="card" style="width: 540px; height: 360px;">
  
          <div class="card-header">
            <a class="text-decoration-none" href="{% url 'bucket-detail' bucket.id %}">
              <h2 class="card-title">{{ bucket.title }}</h2>
            </a>
          </div>
          
          <div class="card-body">
            <p class="card-text">{{ bucket.description }}</p>
          </div>
          
          <div class="card-footer text-body-secondary">
            <small class="text-body-secondary">Completed tasks: </small>
            <span
              class="badge bg-primary rounded-pill text-decoration-none"
              href="{% url 'bucket-detail' bucket.id %}"
              >{{ bucket.tasks_completed_count }}/{{ bucket.tasks.count }}</span
            >
          </div>
      </div>
    </div>
    {% empty %}
    <span>No buckets yet.</span>
    {% endfor %}
  </div>

</div>
{% endblock content %}
